.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %h1 Hello world!
      %p You are:
      %ul
        - if user_signed_in?
          %li= 'a user' if current_user.role? :user
          %li= 'a moderator' if current_user.role? :moderator
          %li= 'an admin' if current_user.role? :admin
        - else
          %li= 'a guest'
